*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 50vh;
    height: 30vh;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 50px 50px 50px 40px;
    row-gap: 2px;
    column-gap: 2px;
    background-color: aqua;
    justify-content: center;
    align-content: center;
}

.container div {
    background-color: black;
    color:rgb(253, 249, 242);
    /* padding: 10px; */
}

.container .item1{
    font-weight: 900;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-area: 1/1/3/1;
}

.container .item4{
    grid-column: 2/4;
}

.container .item6{
    grid-area: 3/2/5/3;
}

.dialer{
    height: 70vh;
    width: 50vh;
    background-color: black;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-areas: "one one one"
                        "two three thee"
                        "";
}

.dialer div{
    color: aliceblue;
    height: 70%;
    width: 20%;
    background-color: red;
}

.dialer .item1{
    grid-area: one;
}

.dialer .item2{
    grid-area: two;
}

.dialer .item3{
    grid-area: three;
}

.dialer .item4{
    grid-area: four;
}

.dialer .item5{
    grid-area: five;
}

.dialer .item6{
    grid-area: six;
}

.dialer .item7{
    grid-area: seven;
}