*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
display: flex;
flex-direction: column;
background-color: rgb(41, 224, 117);
}

img{
    height: 150px;
    width: 150px;
}
h1{
    color: rgb(32, 31, 31);
}

@media screen and (min-width:500px) {
    section{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:250px) {
    img{
        border-radius: 50px;
    }
}

@media screen and (max-width:300px) {
    h1{
        background-color: brown;
        height: 200px;
    }
}

@media screen and (min-width:301px) and (max-width:500px) {
  h1{
     background-color: rgb(51, 196, 164);
        height: 200px;
  }
}

@media screen and (min-width:501px) and (max-width:700px) {
  h1{
     background-color: rgb(114, 1, 95);
        height: 200px;
  }
}

@media screen and (min-width:701px) and (max-width:900px) {
  h1{
     background-color: rgb(22, 1, 114);
        height: 200px;
  }
}

@media screen and (min-width:901px) and (max-width:1200px) {
  h1{
     background-color: rgb(48, 199, 10);
        height: 200px;
  }
}

@media screen and (min-width:1201px) and (max-width:1400px) {
  h1{
     background-color: rgb(48, 199, 10);
        height: 200px;
  }
}

@media screen and (min-width:1201px) and (max-width:1400px) {
  h1{
     background-color: rgb(10, 199, 120);
        height: 200px;
  }
}

@media screen and (orientation: landscape) {
    body{
        background-color: black;
    }
    h1{
        color: aliceblue;
    }
}